/*
 * origin code by tsutoringo
 * * https://tsutori.ngo/ or https://github.com/tsutoringo
 * Usage rights are granted by tsutoringo.
 */
#minecraft-skin {
    display: block;
    width: calc(var(--size) * 5px);
    height: calc(var(--size) * 5px);
    perspective: none;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    --size: 50;
}

.accessories {
    width: 0;
    height: 0;
    transform: scaleX(1.1) scaleY(1.1) scaleZ(1.1);
    transform-style: preserve-3d;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    background-color: #00000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube > * {
    position: absolute;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    background-image: var(--skin-image);
    background-color: pink;
    background-size: calc(8px * var(--size));
}
.accessories .cube > * {
    background-color: transparent;
}

.head {
    --size-x: calc(1px * var(--size));
    --size-y: calc(1px * var(--size));
    --size-z: calc(1px * var(--size));
}

.body {
    transform: translateY(calc(1.25px * var(--size)));
    --size-x: calc(1px * var(--size));
    --size-y: calc(1.5px * var(--size));
    --size-z: calc(0.5px * var(--size));
}
.arm.right,
.arm.left,
.legs.left,
.legs.right {
    --size-x: calc(0.5px * var(--size));
    --size-y: calc(1.5px * var(--size));
    --size-z: calc(0.5px * var(--size));
}
.arm.right {
    transform:
            translateY(calc(1.25px * var(--size)))
            translateX(calc(-0.75px * var(--size)));
}
.arm.left {
    transform:
            translateY(calc(1.25px * var(--size)))
            translateX(calc(0.75px * var(--size)));
}
.legs.left {
    transform:
            translateY(calc(2.75px * var(--size)))
            translateX(calc(0.25px * var(--size)));
}
.legs.right {
    transform:
            translateY(calc(2.75px * var(--size)))
            translateX(calc(-0.25px * var(--size)));
}

.cube.head .front {
    background-position:
            calc(calc(1px * var(--size)) * -1)
            calc(calc(1px * var(--size)) * -1);
}
.cube.head .accessories .front {
    background-position:
            calc(calc(5px * var(--size)) * -1)
            calc(calc(1px * var(--size)) * -1);
}
.cube.head .right {
    background-position:
            calc(calc(1px * var(--size)) * -2)
            calc(calc(1px * var(--size)) * -1);
}
.cube.head .accessories .right {
    background-position:
            calc(calc(1px * var(--size)) * -2)
            calc(calc(1px * var(--size)) * -1);
}
.cube.head .left {
    background-position:
            calc(calc(1px * var(--size)) * 0)
            calc(calc(1px * var(--size)) * -1);
}
.cube.head .back {
    background-position:
            calc(calc(1px * var(--size)) * -3)
            calc(calc(1px * var(--size)) * -1);
}
.cube.head .top {
    background-position:
            calc(calc(1px * var(--size)) * -1)
            calc(calc(1px * var(--size)) * 0);
}
.cube.head .bottom {
    background-position:
            calc(calc(1px * var(--size)) * -2)
            calc(calc(1px * var(--size)) * 0);
}


.cube.body .front {
    background-position:
            calc(calc(1px * var(--size)) * -2.5)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.body .right {
    background-position:
            calc(calc(1px * var(--size)) * -3.5)
            calc(calc(1px * var(--size)) * -2.5)
}
.cube.body .left {
    background-position:
            calc(calc(1px * var(--size)) * -2)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.body .back {
    background-position:
            calc(calc(1px * var(--size)) * -4)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.body .top {
    background-position:
            calc(calc(1px * var(--size)) * -2.5)
            calc(calc(1px * var(--size)) * -2);
}
.cube.body .bottom {
    background-position:
            calc(calc(1px * var(--size)) * -3.5)
            calc(calc(1px * var(--size)) * -2);
}

/* Arm-left */
.cube.arm.left .front {
    background-position:
            calc(calc(1px * var(--size)) * -4.5)
            calc(calc(1px * var(--size)) * -6.5);
}
.cube.arm.left .right {
    background-position:
            calc(calc(1px * var(--size)) * -5)
            calc(calc(1px * var(--size)) * -6.5)
}
.cube.arm.left .left {
    background-position:
            calc(calc(1px * var(--size)) * -4)
            calc(calc(1px * var(--size)) * -6.5);
}
.cube.arm.left .back {
    background-position:
            calc(calc(1px * var(--size)) * -5.5)
            calc(calc(1px * var(--size)) * -6.5);
}
.cube.arm.left .top {
    background-position:
            calc(calc(1px * var(--size)) * -4.5)
            calc(calc(1px * var(--size)) * -6);
}
.cube.arm.left .bottom {
    background-position:
            calc(calc(1px * var(--size)) * -5)
            calc(calc(1px * var(--size)) * -6);
}

/* Arm-right */
.cube.arm.right .front {
    background-position:
            calc(calc(1px * var(--size)) * -5.5)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.arm.right .right {
    background-position:
            calc(calc(1px * var(--size)) * -6)
            calc(calc(1px * var(--size)) * -2.5)
}
.cube.arm.right .left {
    background-position:
            calc(calc(1px * var(--size)) * -5)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.arm.right .back {
    background-position:
            calc(calc(1px * var(--size)) * -6.5)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.arm.right .top {
    background-position:
            calc(calc(1px * var(--size)) * -5.5)
            calc(calc(1px * var(--size)) * -2);
}
.cube.arm.right .bottom {
    background-position:
            calc(calc(1px * var(--size)) * -6)
            calc(calc(1px * var(--size)) * -2);
}
/* legs-right */
.cube.legs.right .front {
    background-position:
            calc(calc(1px * var(--size)) * -0.5)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.legs.right .right {
    background-position:
            calc(calc(1px * var(--size)) * -1)
            calc(calc(1px * var(--size)) * -2.5)
}
.cube.legs.right .left {
    background-position:
            calc(calc(1px * var(--size)) * 0)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.legs.right .back {
    background-position:
            calc(calc(1px * var(--size)) * -1.5)
            calc(calc(1px * var(--size)) * -2.5);
}
.cube.legs.right .top {
    background-position:
            calc(calc(1px * var(--size)) * -0.5)
            calc(calc(1px * var(--size)) * -2);
}
.cube.legs.right .bottom {
    background-position:
            calc(calc(1px * var(--size)) * -1)
            calc(calc(1px * var(--size)) * -2);
}
/* legs-left */
.cube.legs.left .front {
    background-position:
            calc(calc(1px * var(--size)) * -2.5)
            calc(calc(1px * var(--size)) * -6.5);
}
.cube.legs.left .right {
    background-position:
            calc(calc(1px * var(--size)) * -3)
            calc(calc(1px * var(--size)) * -6.5)
}
.cube.legs.left .left {
    background-position:
            calc(calc(1px * var(--size)) * -2)
            calc(calc(1px * var(--size)) * -6.5);
}
.cube.legs.left .back {
    background-position:
            calc(calc(1px * var(--size)) * -3.5)
            calc(calc(1px * var(--size)) * -6.5);
}
.cube.legs.left .top {
    background-position:
            calc(calc(1px * var(--size)) * -2.5)
            calc(calc(1px * var(--size)) * -6);
}
.cube.legs.left .bottom {
    background-position:
            calc(calc(1px * var(--size)) * -3)
            calc(calc(1px * var(--size)) * -6);
}

/* Cubes */
.cube .top {
    width: var(--size-x);
    height: var(--size-z);
    transform: rotateX( 90deg) translateZ(calc(var(--size-y) / 2));
}

.cube .bottom {
    width: var(--size-x);
    height: var(--size-z);
    transform: rotateX(-90deg) translateZ(calc(var(--size-y) / 2));
}

.cube.body .bottom,
.cube.head .bottom {
    transform: rotateX(-90deg) rotateZ(180deg) translateZ(calc(var(--size-y) / 2));
}

.cube .left {
    height: var(--size-y);
    width: var(--size-z);
    transform: rotateY(-90deg) translateZ(calc(var(--size-x) / 2));
}
.cube .right {
    height: var(--size-y);
    width: var(--size-z);
    transform: rotateY( 90deg) translateZ(calc(var(--size-x) / 2));
}
.cube .back {
    height: var(--size-y);
    width: var(--size-x);
    transform: rotateY(180deg) translateZ(calc(var(--size-z) / 2));
}
.cube .front {
    height: var(--size-y);
    width: var(--size-x);
    transform: rotateY(  0deg) translateZ(calc(var(--size-z) / 2));
}
